body[triage=true] > #assigneeCounts,
body[triage=true] > #priority,
body[triage=true] > #oldBugs,
body[triage=true] > #attachments,
body[triage=true] > #breakdown {
  display:none;
}

body[assignee=true] > #triageBreakdown,
body[assignee=true] > #priority,
body[assignee=true] > #oldBugs,
body[assignee=true] > #attachments,
body[assignee=true] > #breakdown {
  display:none;
}

body[priority=true] > #triageBreakdown,
body[priority=true] > #assigneeCounts,
body[priority=true] > #oldBugs,
body[priority=true] > #attachments,
body[priority=true] > #breakdown {
  display:none;
}

body[status=true] > #triageBreakdown,
body[status=true] > #assigneeCounts,
body[status=true] > #oldBugs,
body[status=true] > #attachments,
body[status=true] > #priority {
  display:none;
}

body[old=true] > #triageBreakdown,
body[old=true] > #assigneeCounts,
body[old=true] > #breakdown,
body[old=true] > #attachments,
body[old=true] > #priority {
  display:none;
}

body[attachments=true] > #triageBreakdown,
body[attachments=true] > #assigneeCounts,
body[attachments=true] > #breakdown,
body[attachments=true] > #oldBugs,
body[attachments=true] > #priority {
  display:none;
}

*[unneeded] {
  display:none;
}
body > div[notloaded] > img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
}

body > div[notloaded] > #oldTotalCount,
body > div[notloaded] > #triageExtras {
  display:none;
}

body > div:not([notloaded]) > img {
  display:none;
}

td {
  border: 1px solid black !important;
}

body > div {
    margin: 10px !important;
}

#assigneeCounts {
  float: left;
  min-width:450px;
  border: 1px solid black;
}
#assigneeCounts > table {
  margin-left:auto;
  margin-right:auto;
  width:700px!important;
}

#assigneeCounts > table  td:first-child {
  width: 400px!important;
  min-width: 400px!important;
  overflow: hidden!important;
}
#assigneeCounts > table  td:not(:first-child) {
  width: 70px!important;
  min-width: 70px!important;
  overflow: hidden!important;
}

table td:nth-child(1) {
  font-weight:bold;
  border:1px dashed!important;
}
th {
  border:1px dashed!important;
}
#assigneeCounts table {
  float:left;
}
#assigneeCounts table tr {
  border:1px black;
}

#breakdown td.first, #milestone td:nth-child(1), #patches td:nth-child(1) {
  font-weight:bold;
  border:1px dashed!important;
}
#breakdown th {
  border:1px dashed!important;
}

#priority, #breakdown, #triageBreakdown, #assigneeCounts, #oldBugs, #attachments {
    min-width:790px;
    float: left;
    border:1px solid black;
}

#priority td.first, #milestone td:nth-child(1), #patches td:nth-child(1) {
  font-weight:bold;
  border:1px dashed!important;
}
#priority th {
  border:1px dashed!important;
}
#priority table, #breakdown table {
  float:left;
}

#priority table {
  padding-top:35px!important;
}

#breakdown table {
  padding-top:60px!important;
}

#piemilestone, #piepriority {
  float:right;
}
#piemilestone[selectedStatus] g:not([selectedStatus]),
  #piepriority[selectedStatus] g:not([selectedStatus]) {
  opacity:0.3;
}
#breakdownTable[selectedStatus] tr:not([selectedStatus]),
  #priorityTable[selectedStatus] tr:not([selectedStatus]) {
  opacity:0.3;
}

#milestone td, #patches td {
    min-width: 50px;
    text-align: center;
}

#bugtable {
    clear: both;
}

body[activeRequests] #getBugs, body:not([activeRequests]) #gettingBugsText {
  display:none;
}
body[activeRequests] #gettingBugsText, body:not([activeRequests]) #getBugs {
  display:inline;
}
body[activeRequests] #gettingBugsText p {
  margin-top:-2px;
}
body:not([activeRequests]) #fasttext {
  padding-top:44px;
}
h3, td {
  text-align:center;
}

tr:hover, tr:hover td {
  background: lightgrey !important;
}

#triageBreakdown table, #oldBugs table, #attachmentTable {
  table-layout: fixed;
  width:790px;
  word-wrap:break-word;
  float:none;
}

#triageBreakdown td:nth-child(3), #oldBugs td:nth-child(3) {
  text-overflow:ellipsis!important;
  width:600px;
  white-space:nowrap;
  overflow:hidden!important;
}

#triageBreakdown table td:nth-child(1), #triageBreakdown table th:nth-child(1),
#triageBreakdown table td:nth-child(2), #triageBreakdown table th:nth-child(2){
  width: 10%!important;
}

#oldBugs table td:nth-child(1), #oldBugs table th:nth-child(1) {
  width: 10%!important;
}

#oldBugs table td:nth-child(2), #oldBugs table th:nth-child(2) {
  width: 25%!important;
}

#triageExtras, #oldTotalCount {
  text-align: right!important;
  float:right;
  padding-right:10px;
}

td:not([empty=true]) {
  cursor:pointer;
}

.toggle {
  float:right;
  border-left:1px solid black;
  border-bottom:1px solid black;
  font-family: monospace;
  min-width:20px;
  text-align: center;
  cursor:pointer;
}

div[showing=true] .toggle:before {
  content:"-";
}
div[showing=false] .toggle:before {
  content:"+";
}

div[showing=false] :not(.toggle):not(h3){
  display:none;
}

#attachmentTable div:not(:last-child):not(:only-child) {
  border-bottom:1px solid black;
}
#attachmentTable td:first-child, #attachmentTable  th:first-child {
  width: 15%!important;
  overflow: hidden!important;
}
#attachmentTable td:nth-child(2), #attachmentTable th:nth-child(2) {
  width: 55%!important;
  overflow: hidden!important;
  text-overflow: ellipsis !important;
  white-space:nowrap;
}
#attachmentTable td:nth-child(3), #attachmentTable th:nth-child(3) {
  width: 30%!important;
  overflow: hidden!important;
  text-overflow: ellipsis !important;
  white-space:nowrap;
}
